.add-or-remove-shortcuts a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  display: block;
  margin: 0px 5px 0px 0px;
  padding: 0px;
  background: #999999 url(../images/buttons.png) -800px 50% no-repeat;
  color: #fff;
  text-shadow: #666 0px 1px 0px;
}

.remove-shortcut a {
  background-position: -1600px 50%;
}

.add-or-remove-shortcuts a:active {
  color: #222;
  background-color: #666;
  background-position: -1200px 50%;
  text-shadow: #999 0px 1px 0px;
}

.remove-shortcut a:active {
  background-position: -2000px 50%;
}

.add-or-remove-shortcuts a {
  span {
    &.icon {
      width: 20px;
      height: 20px;
      float: left;
    }
    &.text {
      float: left;
      display: none;
      padding: 0px 5px;
    }
  }
  &:focus span.text, &:hover span.text {
    display: block;
  }
}

/**
 * Toolbar styles =====================================================
 * Unchanged from core shortcut.css styles.
 */

div#toolbar {
  a#edit-shortcuts {
    float: right;
    padding: 5px 10px 5px 5px;
    line-height: 24px;
    color: #bbb;
    &:focus, &:hover, &.active {
      color: #fff;
    }
  }
  div.toolbar-shortcuts {
    ul {
      padding: 5px 0px 2px 0px;
      height: 28px;
      line-height: 24px;
      float: left;
      margin-left: 5px;
      li a {
        padding: 0px 5px;
        margin-right: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        &:focus, &:hover {
          background: #555;
        }
        &.active {
          &:focus {
            background: #555;
          }
          &:hover {
            background: #000;
          }
          background: #000;
        }
      }
    }
    span.icon {
      float: left;
      background: #444;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
  }
}