/**
 * Generic ============================================================
 */
/* line 7, ../sass/core-rtl.scss */
.page-content dl dd, .page-content dl dl {
  margin-left: 0;
  margin-right: 20px;
}

/**
 * Pagers =============================================================
 */
/* line 18, ../sass/core-rtl.scss */
.pager ul.pager-list {
  float: right;
}
/* line 21, ../sass/core-rtl.scss */
.pager ul.pager-links {
  float: left;
}

/**
 * Menus, lists =======================================================
 */
/* line 30, ../sass/core-rtl.scss */
.admin-list li a span.icon {
  left: auto;
  right: 10px;
}

/* line 35, ../sass/core-rtl.scss */
.node-type-list li, .admin-list li {
  padding: 10px 50px 9px 5px;
}

/**
 * Tables =============================================================
 */
/* line 44, ../sass/core-rtl.scss */
table th {
  text-align: right;
}
/* line 47, ../sass/core-rtl.scss */
table td.permission {
  padding-right: 19px;
}

/**
 * Form layout: Default ===============================================
 */
/* line 56, ../sass/core-rtl.scss */
.form-layout-default {
  background-position: 35% 0%;
}

/* line 60, ../sass/core-rtl.scss */
.column-main {
  float: right;
}
/* line 62, ../sass/core-rtl.scss */
.column-main .column-wrapper {
  padding-left: 10px;
  padding-right: 0px;
}

/* line 68, ../sass/core-rtl.scss */
.column-side {
  float: left;
}
/* line 70, ../sass/core-rtl.scss */
.column-side .column-wrapper {
  padding-left: 0px;
  padding-right: 10px;
}

/**
 * Forms ==============================================================
 */
/* line 80, ../sass/core-rtl.scss */
.page-content .form-item .description {
  left: -15px;
  right: auto;
}

/* line 85, ../sass/core-rtl.scss */
.collapsible .fieldset-title span.icon {
  left: auto;
  right: -20px;
  background-image: url(../images/sprite-rtl.png);
}

/* line 91, ../sass/core-rtl.scss */
html.js input.form-autocomplete {
  background-position: 2px 7px;
}

/**
 * Help pages =========================================================
 */
/* line 99, ../sass/core-rtl.scss */
.help-items {
  float: right;
}

/**
 * Admin toolbar ======================================================
 */
/* line 107, ../sass/core-rtl.scss */
body.rubik #admin-toolbar a.menu-hover span.menu-description {
  padding-left: 0px;
  padding-right: 50px;
}
/* line 110, ../sass/core-rtl.scss */
body.rubik #admin-toolbar a.menu-hover span.menu-description span.icon {
  left: auto;
  right: 10px;
}
