/* line 4, ../sass/style.scss */
body,
input,
textarea,
select {
  font-family: "Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif;
}

/* line 6, ../sass/style.scss */
html {
  overflow-y: scroll;
}

/* line 8, ../sass/style.scss */
body.tao {
  color: #333;
  background: #fff;
}

/* line 13, ../sass/style.scss */
a {
  color: #008eb1;
  text-decoration: none;
}

/* line 18, ../sass/style.scss */
.limiter {
  margin: 0px 30px;
}

/**
 * Skip to content link ===============================================
 */
/* line 23, ../sass/style.scss */
#skip-link {
  width: 200px;
  height: 0px;
  left: 50%;
  margin-left: -100px;
}

/* line 32, ../sass/style.scss */
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  left: 0px;
  z-index: 20;
  text-align: center;
  width: 200px;
  background: #333;
  color: #fff;
  opacity: .9;
  padding: 10px 0px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}

/**
 * "Rounded" elements =================================================
 */
/* line 52, ../sass/style.scss */
.compact-link a,
input.teaser-button,
input.form-submit {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/**
 * "Popped" elements ==================================================
 */
/* line 61, ../sass/style.scss */
input.teaser-button,
input.form-submit {
  box-shadow: #ddd 0px 1px 1px;
  -moz-box-shadow: #ddd 0px 1px 1px;
  -webkit-box-shadow: #ddd 0px 1px 1px;
}

/**
 * "Embossed" elements ================================================
 */
/* line 70, ../sass/style.scss */
table th {
  text-shadow: #fff 0px 1px 0px;
}

/**
 * Branding ===========================================================
 */
/* line 77, ../sass/style.scss */
#branding {
  background: url(images/bleeds.png) 0px -30px repeat-x;
  color: #ccc;
  font-size: 11px;
  height: 30px;
  overflow: hidden;
}

/* line 85, ../sass/style.scss */
#branding ul.links {
  float: right;
}

/* line 87, ../sass/style.scss */
#branding ul.links a {
  background: url(images/bleeds.png) 0% -30px no-repeat;
  color: #fff;
  float: left;
  padding: 5px 10px;
}

/* line 94, ../sass/style.scss */
#branding ul.links a:hover {
  background-position: 0% -90px;
}

/* line 96, ../sass/style.scss */
#branding .breadcrumb {
  padding: 0px;
  float: left;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 103, ../sass/style.scss */
#branding .breadcrumb-link {
  float: left;
  position: relative;
}

/* line 108, ../sass/style.scss */
#branding .breadcrumb-depth-0 {
  z-index: 10;
}

/* line 109, ../sass/style.scss */
#branding .breadcrumb-depth-1 {
  z-index: 9;
}

/* line 110, ../sass/style.scss */
#branding .breadcrumb-depth-2 {
  z-index: 8;
}

/* line 111, ../sass/style.scss */
#branding .breadcrumb-depth-3 {
  z-index: 7;
}

/* line 112, ../sass/style.scss */
#branding .breadcrumb-depth-4 {
  z-index: 6;
}

/* line 113, ../sass/style.scss */
#branding .breadcrumb-depth-5 {
  z-index: 5;
}

/* line 114, ../sass/style.scss */
#branding .breadcrumb-depth-6 {
  z-index: 4;
}

/* line 115, ../sass/style.scss */
#branding .breadcrumb-depth-7 {
  z-index: 3;
}

/* line 116, ../sass/style.scss */
#branding .breadcrumb-depth-8 {
  z-index: 2;
}

/* line 119, ../sass/style.scss */
#branding .breadcrumb a,
#branding .breadcrumb strong {
  color: #fff;
  font-weight: normal;
  float: left;
  margin-right: -10px;
  padding: 5px 20px;
  background: url(images/bleeds.png) 100% -60px no-repeat;
}

/* line 129, ../sass/style.scss */
#branding .breadcrumb-depth-0 a,
#branding .breadcrumb-depth-0 strong {
  padding-left: 10px;
}

/* line 131, ../sass/style.scss */
#branding .breadcrumb a:hover {
  background-position: 100% -90px;
}

/**
 * Page title =========================================================
 */
/* line 136, ../sass/style.scss */
#page-title {
  background: white url(images/bleeds.png) 0px -350px repeat-x;
}

/* line 137, ../sass/style.scss */
#page-title .limiter {
  position: relative;
}

/* line 139, ../sass/style.scss */
#page-title .page-title {
  float: left;
  padding: 15px 10px 15px 0px;
  line-height: 30px;
  min-height: 30px;
  text-shadow: #fff 0px 1px 0px;
  -webkit-text-shadow: #fff 0px 1px 0px;
  letter-spacing: -1px;
  font-weight: normal;
  font-size: 20px;
}

/* line 153, ../sass/style.scss */
#page-title .page-title span.icon {
  float: left;
  margin-right: 10px;
}

/* line 159, ../sass/style.scss */
.add-or-remove-shortcuts,
.action-links {
  float: left;
  font-size: 11px;
}

/* line 164, ../sass/style.scss */
.add-or-remove-shortcuts {
  padding: 20px 0px;
}

/* line 165, ../sass/style.scss */
.action-links {
  padding: 20px 0px 20px 10px;
}

/* line 167, ../sass/style.scss */
.action-links a {
  background-color: #7bc;
  text-shadow: #38a 0px 1px 0px;
}

/* line 172, ../sass/style.scss */
.add-or-remove-shortcuts a {
  background-color: #999;
  text-shadow: #666 0px 1px 0px;
}

/**
 * Tabs ===============================================================
 */
/* line 180, ../sass/style.scss */
.tabs {
  position: absolute;
  right: 0px;
}

/* line 185, ../sass/style.scss */
.primary-tabs {
  float: left;
  height: 30px;
  margin: 15px 0px 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 194, ../sass/style.scss */
div.pager {
  margin: 10px 0px 0px;
  height: 30px;
}

/* line 200, ../sass/style.scss */
.pager li,
.primary-tabs li {
  height: 30px;
  position: relative;
  background: #eeeeee url(images/bleeds.png) 50% 0px no-repeat;
}

/* line 208, ../sass/style.scss */
.pager a,
.pager span,
.primary-tabs a {
  float: left;
  text-align: center;
  min-width: 70px;
  padding: 5px 10px;
  color: #333;
  text-shadow: #fff 0px 1px 0px;
}

/* line 218, ../sass/style.scss */
.pager a,
.pager span {
  min-width: 10px;
  padding: 5px 15px;
}

/* line 224, ../sass/style.scss */
.pager li:hover,
.primary-tabs li:hover {
  background-color: #f8f8f8;
}

/* line 227, ../sass/style.scss */
.pager li:first-child,
.primary-tabs li:first-child {
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  background-position: 0% 0px;
}

/* line 235, ../sass/style.scss */
.pager li:last-child,
.primary-tabs li:last-child {
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  background-position: 100% 0px;
}

/* line 243, ../sass/style.scss */
.pager li.pager-current,
.primary-tabs li.active {
  background-color: #7bc;
}

/* line 246, ../sass/style.scss */
.pager li.pager-current span,
.primary-tabs li.active a {
  color: #fff;
  text-shadow: #38a 0px 1px 0px;
}

/* Secondary tabs, nested */
/* line 252, ../sass/style.scss */
.secondary-tabs {
  min-width: 100px;
  float: left;
  position: relative;
  margin: 5px 5px 5px 0px;
  font-size: 11px;
  background: #5599aa url(images/buttons.png) -800px 50% no-repeat;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  z-index: 1;
}

/* line 265, ../sass/style.scss */
.secondary-tabs:hover {
  background: #59a;
  opacity: .9;
}

/* line 271, ../sass/style.scss */
ul.secondary-tabs li,
ul.secondary-tabs li a {
  background: transparent;
  float: none;
  height: auto;
  text-align: left;
}

/* line 278, ../sass/style.scss */
.secondary-tabs a {
  color: #fff;
  text-shadow: #38a 0px 1px 0px;
  display: none;
  padding: 0px 10px 0px 25px;
}

/* line 286, ../sass/style.scss */
.secondary-tabs:hover a,
.secondary-tabs .active a {
  display: block;
}

/* line 289, ../sass/style.scss */
.secondary-tabs li:hover,
.secondary-tabs li.active {
  background: transparent;
}

/* line 290, ../sass/style.scss */
.secondary-tabs a:hover {
  background: #338899 url(images/buttons.png) -800px 50% no-repeat;
}

/* line 292, ../sass/style.scss */
.secondary-tabs li:last-child a:hover {
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
}

/* line 298, ../sass/style.scss */
.secondary-tabs li:first-child a:hover {
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
}

/**
 * Content ============================================================
 */
/* line 309, ../sass/style.scss */
.help-page,
div.comment,
div.node {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  background: white url(images/vrule.png) 65% 0% repeat-y;
  margin: 0px 0px 10px;
}

/* line 321, ../sass/style.scss */
#help-text .column-main .column-wrapper,
.help-page .column-main .column-wrapper,
div.comment .column-main .column-wrapper,
div.node .column-main .column-wrapper {
  padding: 19px;
}

/* line 323, ../sass/style.scss */
#help-text .column-main .column-wrapper {
  padding-left: 59px;
  position: relative;
}

/* line 328, ../sass/style.scss */
#help-text .column-main .column-wrapper span.icon {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* line 337, ../sass/style.scss */
#help-text .column-side .column-wrapper,
.help-page .column-side .column-wrapper,
div.comment .column-side .column-wrapper,
div.node .column-side .column-wrapper {
  padding: 9px;
  font-size: 11px;
}

/* line 345, ../sass/style.scss */
#help-text .column-side .help-links,
.help-page .column-side .help-page-links,
.node-submitted,
.comment-submitted {
  padding: 10px;
  background: #f8f8f8;
}

/* line 351, ../sass/style.scss */
.comment-links,
.node-links {
  padding: 10px 0px;
}

/* line 353, ../sass/style.scss */
.help-page .help-page-links ul.links {
  -moz-column-count: 2;
  -webkit-column-count: 2;
}

/* line 360, ../sass/style.scss */
.column-side ul.links li,
.column-side ul.links a,
.column-side ul.links span {
  display: block;
  float: none;
}

/* line 366, ../sass/style.scss */
.column-side ul.links a,
.column-side ul.links span {
  padding: 0px 10px;
  display: block;
  float: none;
}

/* line 372, ../sass/style.scss */
.column-side ul.links span a {
  padding: 0px;
  display: inline;
}

/* line 378, ../sass/style.scss */
.column-side ul.links a.active,
.column-side ul.links a:hover {
  background: #fff;
}

/* line 379, ../sass/style.scss */
.comment-links ul.links a:hover {
  background: #f4f4f4;
}

/* line 382, ../sass/style.scss */
.comment-title,
.node-title {
  margin: 0px 0px 20px;
  font-weight: normal;
  font-size: 16px;
}
