/**
 * Branding ===========================================================
 */
/* line 6, ../sass/style-rtl.scss */
#branding a {
  float: right;
}
/* line 9, ../sass/style-rtl.scss */
#branding ul.links {
  float: left;
}
/* line 12, ../sass/style-rtl.scss */
#branding .breadcrumb {
  float: right;
}
/* line 14, ../sass/style-rtl.scss */
#branding .breadcrumb a, #branding .breadcrumb strong {
  float: right;
}
/* line 17, ../sass/style-rtl.scss */
#branding .breadcrumb .breadcrumb-link {
  float: right;
  padding-left: 5px;
  padding-right: 0px;
  background-image: url(../images/sprite-rtl.png);
  background-position: 0% 100%;
}

/**
 * Page title =========================================================
 */
/* line 31, ../sass/style-rtl.scss */
#page-title .page-title span.icon {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

/**
 * Tabs ===============================================================
 */
/* line 42, ../sass/style-rtl.scss */
ul.primary-tabs {
  left: 60px;
  right: auto;
}
/* line 45, ../sass/style-rtl.scss */
ul.primary-tabs li {
  padding-left: 0;
  padding-right: 5px;
}
/* line 48, ../sass/style-rtl.scss */
ul.primary-tabs li.active a {
  -moz-border-radius: 3px 0px 0px 3px;
}
/* line 50, ../sass/style-rtl.scss */
ul.primary-tabs li.active a.active {
  -moz-border-radius: 3px 0px 0px 3px;
}
/* line 56, ../sass/style-rtl.scss */
ul.secondary-tabs {
  float: left;
}

/**
 * Footer =============================================================
 */
/* line 66, ../sass/style-rtl.scss */
#footer .footer-message {
  float: right;
}
/* line 69, ../sass/style-rtl.scss */
#footer .feed-icons {
  float: left;
}
/* line 71, ../sass/style-rtl.scss */
#footer .feed-icons label, #footer .feed-icons a {
  float: right;
}

/**
 * Help ===============================================================
 */
/* line 81, ../sass/style-rtl.scss */
a#help-toggler {
  left: 30px;
  right: auto;
}

/* line 86, ../sass/style-rtl.scss */
#help-text {
  background-position: 35% 0%;
}
/* line 87, ../sass/style-rtl.scss */
#help-text.with-tabs {
  -moz-border-radius: 2px 0px 0px 2px;
}
/* line 90, ../sass/style-rtl.scss */
#help-text .breadcrumb-link {
  padding-left: 0;
  padding-right: 20px;
}

/**
 * Content ============================================================
 */
/* line 101, ../sass/style-rtl.scss */
.help-page {
  background-position: 35% 0%;
}

/* line 106, ../sass/style-rtl.scss */
div.comment, div.node {
  background-position: 35% 0%;
}

/* line 111, ../sass/style-rtl.scss */
#help-text .column-main .column-wrapper {
  padding-left: 0px;
  padding-right: 59px;
}
/* line 114, ../sass/style-rtl.scss */
#help-text .column-main .column-wrapper span.icon {
  left: auto;
  right: 15px;
}

/**
 * System =============================================================
 */
/* line 125, ../sass/style-rtl.scss */
.admin .right {
  padding-left: 0;
  padding-right: 5px;
  float: left;
}
/* line 130, ../sass/style-rtl.scss */
.admin .left {
  padding-left: 5px;
  padding-right: 0;
  float: right;
}

/* admin/content/node & admin/user/user */
/* line 139, ../sass/style-rtl.scss */
#content dl.multiselect {
  margin: 0px 0px 0px 10px;
}
/* line 141, ../sass/style-rtl.scss */
#content dl.multiselect dt, #content dl.multiselect dd {
  margin: 0px 0px 0px 10px;
}

/* update options */
/* line 149, ../sass/style-rtl.scss */
.admin-options label, .admin-options .form-item {
  margin-left: 10px;
  margin-right: 0px;
  float: right;
}
