/**
 * Branding ===========================================================
 */
/* line 4, ../sass/style-rtl.scss */
#branding a {
  float: right;
}

/* line 6, ../sass/style-rtl.scss */
#branding ul.links {
  float: left;
}

/* line 8, ../sass/style-rtl.scss */
#branding .breadcrumb {
  float: right;
}

/* line 11, ../sass/style-rtl.scss */
#branding .breadcrumb a,
#branding .breadcrumb strong {
  float: right;
}

/* line 13, ../sass/style-rtl.scss */
#branding .breadcrumb .breadcrumb-link {
  float: right;
  padding-left: 5px;
  padding-right: 0px;
  background-image: url(images/sprite-rtl.png);
  background-position: 0% 100%;
}

/**
 * Page title =========================================================
 */
/* line 24, ../sass/style-rtl.scss */
#page-title .page-title span.icon {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

/**
 * Tabs ===============================================================
 */
/* line 33, ../sass/style-rtl.scss */
ul.primary-tabs {
  left: 60px;
  right: auto;
}

/* line 38, ../sass/style-rtl.scss */
ul.primary-tabs li {
  padding-left: 0;
  padding-right: 5px;
}

/* line 44, ../sass/style-rtl.scss */
ul.primary-tabs li.active a,
ul.primary-tabs li.active a.active {
  -moz-border-radius: 3px 0px 0px 3px;
}

/* line 48, ../sass/style-rtl.scss */
ul.secondary-tabs {
  float: left;
}

/**
 * Footer =============================================================
 */
/* line 53, ../sass/style-rtl.scss */
#footer .footer-message {
  float: right;
}

/* line 57, ../sass/style-rtl.scss */
#footer .feed-icons {
  float: left;
}

/* line 62, ../sass/style-rtl.scss */
#footer .feed-icons label,
#footer .feed-icons a {
  float: right;
}

/**
 * Help ===============================================================
 */
/* line 69, ../sass/style-rtl.scss */
a#help-toggler {
  left: 30px;
  right: auto;
}

/* line 74, ../sass/style-rtl.scss */
#help-text.with-tabs {
  -moz-border-radius: 2px 0px 0px 2px;
}

/* line 78, ../sass/style-rtl.scss */
#help-text .breadcrumb-link {
  padding-left: 0;
  padding-right: 20px;
}

/**
 * Content ============================================================
 */
/* line 89, ../sass/style-rtl.scss */
#help-text,
.help-page,
div.comment,
div.node {
  background-position: 35% 0%;
}

/* line 91, ../sass/style-rtl.scss */
#help-text .column-main .column-wrapper {
  padding-left: 0px;
  padding-right: 59px;
}

/* line 96, ../sass/style-rtl.scss */
#help-text .column-main .column-wrapper span.icon {
  left: auto;
  right: 15px;
}

/**
 * System =============================================================
 */
/* line 104, ../sass/style-rtl.scss */
.admin .right {
  padding-left: 0;
  padding-right: 5px;
  float: left;
}

/* line 110, ../sass/style-rtl.scss */
.admin .left {
  padding-left: 5px;
  padding-right: 0;
  float: right;
}

/* admin/content/node & admin/user/user */
/* line 119, ../sass/style-rtl.scss */
#content dl.multiselect,
#content dl.multiselect dt,
#content dl.multiselect dd {
  margin: 0px 0px 0px 10px;
}

/* update options */
/* line 123, ../sass/style-rtl.scss */
.admin-options label,
.admin-options .form-item {
  margin-left: 10px;
  margin-right: 0px;
  float: right;
}
